section{
   display: flex;
   align-items: center;
}
section .content{
   display: block;
   margin-top: 30px;
   background: #FFFFFF;
   border-radius: 8px;
   width: 730px;
   min-width: 730px;
   height: 540px;
   margin-left: auto;
   margin-right: auto;
}

section .content .activity{
   display: block;
   padding-top: 35px;
}

section .content .activity span{
   opacity: 0.5;
   font-family: Helvetica;
   font-size: 14px;
   color: #131313;
   padding-left: 30px;
}

section .content .activity .message{
   display: block;
   width: calc(100% - 80px);
   min-width:220px;
   padding: 30px 30px 00px 30px;
}

.message1{
   justify-content: space-between;
   align-items: center;
   display: flex;
}

section .content .activity .message span{
   background: #CEF9C6;
   min-width: 40px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   padding-left: 0;
}

section .content .activity .message span img{
   padding-left: 15px;
   color: #000;
}

section .content .activity .message .text{
   padding-left: 20px;
   display: flex;
   align-items: center;
}

section .content .activity .message .text p{
   max-width: 461px;
   font: 16px/20px Helvetica;
   color: #131313;
}

section .content .activity .message p:last-child{
   opacity: 0.7;
   font-size: 14px/20px Helvetica;
   color: #131313;
   text-align: right;
   padding-left: 80px;
}

section .content .activity .tip{
   display: flex;
   align-items: center;
}

section .content .activity .tip span{
   margin-top: 10px;
   margin-left: 90px;
   padding-left: 10px;
   display: flex;
   min-width: 551px;
   width: 551px;
   height: 88px;
   background: #F7F6F3;
   border-radius: 10px;
   align-items: center;
   font: 15px/20px Helvetica;
   color: #131313;
}

section .content .activity .pictures{
   display: flex;
   margin-top: 15px;
}

section .content .activity .pictures .picture img{
   height: 100px;
   width: 100px;
   min-width: 100px;
   border-radius: 8px;
   margin-left: 10px;
}

.go-home{
   margin-left: 100px;
   margin-top: 15px;
   display: block;
   cursor: pointer;
   font: 14px Helvetica;
   text-decoration:none;
   padding:10px 20px;
   color:#0d283b;
   background:#EAEAEA;
   border-radius:14px;
   border:2px solid #64faf0;
}
.add-task{
	background-color:#44c767;
	border-radius:12px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Helvetica;
	font-size:14px;
	padding:10px 14px;
   margin-left: 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.delete-task{
	background-color:#b11d0a;
   border-width:0;
	border-radius:12px;
	cursor:pointer;
	color:#ffffff;
	font-family:Helvetica;
	font-size:14px;
   width: 30px;
   height: 30px;
   margin-left: 35px;
	text-decoration:none;
}

.add-form{
   display: block;
   margin-left: 30px;
   margin-top: 10px;
}
.input-name:first-child{
   margin-left: 0;
}
.input-name{
   padding: 5px;
   margin-left: 10px;
   font-size: 14px;
   border-width: 1px;
   border-color: #CCCCCC;
   background-color: #FFFFFF;
   color: #000000;
   border-style: solid;
   border-radius: 1px;
}
section .content .error h1{
   display: block;
   padding-top: 100px;
   padding-left: 100px;
   margin-right: auto;
   font: 35px Helvetica;
   color: #131313;
   opacity: 0.7;
}

section .content .activity .pictures .picture:first-child{
   padding-left: 90px;
}

.kanban{
   display: block;
}

.calendar{
   display: block;
}

.files{
   display: block;
}

select{
   display: none;
}

.page404{
   display: block;
}

section .content .tasks span{
   opacity: 0.5;
   font-family: Helvetica;
   font-size: 14px;
   color: #131313;
   padding-left: 30px;
}

section .content .tasks{
   display: block;
   padding-top: 35px;
}

section .content .tasks .task{
   font: 16px/20px Helvetica;
   color: #000;
   padding-top: 15px;
   padding-left: 30px;
   display: flex;
   
}

section .content .tasks .task .name{
   padding-top: 10px;
   padding-right: 10px;
   width: 90px;
   min-width: 60px;
}
section .content .tasks .task .description{
   padding: 10px 8px;
   width: 440px;
   min-width: 60px;
   background-color: #CEF9C6;
   border-radius: 15px ;
}

section .content .tasks .task .time{
   padding-left: 10px;
   padding-top: 10px;
   width: 40px;
   min-width: 40px;
   font-size: 14px;
}

section .content .tasks .nadesti{
   padding-top: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 50px;
}

section .content .tasks .nadesti span{
   font: 16px/20px Helvetica;
   color: black;
   opacity: 0.5;
}

section .content .tasks .nadesti .nades span:last-child{
   padding-left: 54px;

}

@media only screen and (max-width: 600px){
   section{
      display: block;
      width: 100%;
      height: 100%;
   }

   section .content{
      display: block;
      width: 100%;
      height: 100%;
      min-width: 280px;
   }

   section .content .activity{
      display: block;
      min-width: 280px;
      width: calc(100% - 80px);
   }

   section .content .tasks{
      display: block;
      min-width: 280px;
      width: calc(100% - 80px);
   }

   section .content .calendar{
      display: block;
      min-width: 280px;
      width: calc(100% - 80px);
   }

   section .content .files{
      display: block;
      min-width: 280px;
      width: calc(100% - 80px);
   }

   section .content .kanban{
      min-width: 280px;
      width: calc(100% - 80px);
   }
   
   section .content .activity .message .text{
      padding-left: 20px;
      display: flex;
      align-items: center;
   }
   
   section .content .activity .message .text p{
      max-width: 461px;
      font: 16px/20px Helvetica;
      color: #131313;
   }
   
   section .content .activity .message p:last-child{
      opacity: 0.7;
      font-size: 14px/20px Helvetica;
      color: #131313;
      text-align: right;
      padding-left: 30px;
   }
   
   section .content .activity .tip{
      padding-top: 50px;
      display: flex;
      align-items: center;
   }
   
   section .content .activity .tip span{
      margin-left: 90px;
      display: flex;
      min-width: 100px;
      width: 250px;
      height: 200px;
      background: #F7F6F3;
      border-radius: 10px;
      align-items: center;
      font: 15px/20px Helvetica;
      color: #131313;
   }
   
   section .content .activity .pictures{
      display: block;
      padding-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
   }

   section .content .activity .pictures .picture:first-child{
      padding-left: 0;
   }
   
   section .content .activity .pictures img{
      height: 100px;
      width: 100px;
      min-width: 100px;
      border-radius: 8px;
      margin-left: 0px;
   }
   
   section .content .activity .pictures img:first-child{
      margin-left: 0px;
   }

   select{
      display: block;
   }

   section .content .tasks span{
      opacity: 0.5;
      font-family: Helvetica;
      font-size: 14px;
      color: #131313;
      padding-left: 30px;
   }
   
   section .content .tasks{
      padding-top: 35px;
   }
   
   section .content .tasks .task{
      font: 14px/20px Helvetica;
      color: #000;
      padding-top: 15px;
      padding-left: 30px;
      display: flex;
   }
   
   section .content .tasks .task .name{
      padding-right: 5px;
      width: 50px;
      min-width: 60px;
   }
   section .content .tasks .task .description{
      width: 85px;
      min-width: 40px;
   }
   
   section .content .tasks .task .time{
      padding-left: 10px;
      width: 20px;
      min-width: 40px;
   }
   
   section .content .tasks .nadesti{
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 50px;
   }
   
   section .content .tasks .nadesti span{
      font: 16px/20px Helvetica;
      color: black;
      opacity: 0.5;
   }
   
   section .content .tasks .nadesti .nades span:last-child{
      padding-left: 20px;
   }
   
}


